body{
	margin:0;
	height:100vh;
	width: 100vw;
	overflow:hidden;
	display:flex;
	align-items:center;
	color:#e4e8ec;
	background-color:#fff;
	justify-content:center;
	background-image: url(../images/bg.jpg);
	background-size: cover;
}
.main{
	width: 400px;
	height:600px;
	padding:10px 25px 35px 35px;
	margin-left: -100px;
	margin-top: 120px;
	border-radius:20px;
	font-family:sans-serif;
	font-weight:700;
}


.title{
	text-align:center;
	font-size:40px;
	color:rgb(241, 233, 233);
	letter-spacing:.5px;
	margin:px;
	font-family: gotham;
}
.credentials{
	width:100%;
	padding:2px 5px 0px 5px;
}
.credentials input{
	border:none;
	outline:none;
	background:none;
	font-size:18px;
	color:rgb(235, 228, 228);
	padding:20px 10px 20px 5px;
	letter-spacing: 1px;
}
.card_no{
	margin-bottom:20px;
	border-bottom:2px solid #f6f7f7;
	transition:.5s ease;
}
.card_no:hover{
	border-bottom:3px solid #fafcfd;
}
.pin_code{
	margin-bottom:30px;
	border-bottom:2px solid #f4f8f6;
	transition:.5s ease;
}
.pin_code:hover{
	border-bottom:3px solid #f7f9fb;
}
.submit{
	outline:none;
	border:none;
	width:100%;
	height:60px;
	border-radius:30px;
	color:#fff;
	font-size:20px;
	font-weight:700;
	text-align:center;
	background-image:linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
	background-size:200%;
	box-shadow: 3px 3px 8px #b1b1b1,
				-3px -3px 8px #fff;
	transition:.5s;
}
.submit:hover{
	background-position:right;
}
.link{
	margin:10px;
	text-align:center;
}
.link a{
	color :#aaa;
	font-size:15px;
	text-decoration:none;
}

